body {
    background-color: brown;
}

.square {
    background-color: burlywood;
    border: solid 1px red;
    border-radius: 16px;
    width: 200px;
    height: 200px;
    margin: 5px 0 5px;
    position: relative;
}

.square-o {
    background-image: url('https://cdn-icons-png.flaticon.com/512/481/481078.png');
    background-size: contain;
}
.square-x {
    background-image: url('https://cdn-icons-png.flaticon.com/512/748/748122.png');
    background-size: contain;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.winner-card {
    background-color: white;
    height: 200px;
    border-radius: 12px;
    margin: 100px;
    text-align: center;
    font-size: 2em;
}

button {
    width: 200px;
    height: 40px;
    border: solid white 2px;
    background-color: crimson;
    color: white;
    border-radius: 12px;
}

button:hover {
    cursor: pointer;
}